@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #9ec8b9;
}

header {
  width: 60%;
  text-align: center;
  border: #092635 solid 3px;
  margin: 10px auto;
  background-color: #040d12;
}
.title {
  font-weight: 700;
  font-size: 1.7em;
  margin: 5px 5px;
  color: #93b1a6;
}
.navigation a {
  color: #176186;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 20px;
}
table {
  border-collapse: collapse;
  margin: 35px 0;
  font-size: 0.9em;
  min-width: 400px;
  background-color: #5c8374;
  color: #ffff;
  margin: 0 auto;
  margin-top: 10px;
}
thead {
  background-color: #092635;
  color: #ffff;
  text-align: lift;
  font-weight: bold;
}
table th,
td {
  padding: 12px 15px;
}
table tbody tr:nth-of-type(even) {
  background-color: #1b4242;
}
tr {
  border-bottom: 1px solid #f5efe6;
}
caption {
  color: black;
  font-size: 1.1em;
  font-weight: bold;
  margin: 10px;
}
