@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: black;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
}
.title {
  font-weight: 700;
  font-size: 1.7em;
  margin: 5px 5px;
  color: #009879;
}
.navigation a {
  color: #009879;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 20px;
}
table {
  border-collapse: collapse;
  margin: 35px 0;
  font-size: 0.9em;
  min-width: 400px;
  margin-left: 20px;
  background-color: #24292b;
  color: #ffff;
}
thead {
  background-color: #1a0000;
  color: #ffff;
  text-align: lift;
  font-weight: bold;
}
table th,
td {
  padding: 12px 15px;
}
table tbody tr:nth-of-type(even) {
  background-color: #06080a;
}
tr {
  border-bottom: 1px solid #222629;
}
.leg {
  margin-left: 50px;
}
caption {
  color: #009879;
  font-size: 1.1em;
  font-weight: bold;
}
